* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 15px;
}

header {
  background-image: url(./img/BG\ \(3\).png);
  background-repeat: no-repeat;
  background-position: center;
  height: 850px;
}
header .container .header-omega {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-top: 23px;
  margin-bottom: 180px;
}
header .container .header-omega h2 {
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.75px;
  color: #19191B;
  transition: 0.5s ease-in-out;
}
header .container .header-omega h2:hover {
  color: cadetblue;
  transform: scale(1.1);
}
header .container .header-omega a {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.5px;
  text-align: right;
  color: #19191B;
  transition: 0.5s ease-in-out;
}
header .container .header-omega a:hover {
  color: #F04037;
}
header .container .header-container {
  display: flex;
  align-items: center;
}
header .container .header-container .more {
  width: 542px;
}
header .container .header-container .more h3 {
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -1.88px;
  color: #19191B;
  margin-bottom: 29px;
}
header .container .header-container .more p {
  font-weight: 400;
  font-size: 21px;
  line-height: 39px;
  letter-spacing: -0.66px;
  color: #696871;
  margin-bottom: 40px;
  width: 500px;
}
header .container .header-container .more form {
  width: 480px;
  height: 65px;
  background: white;
  border-radius: 10px;
  border: 1px solid #EAE9F2;
}
header .container .header-container .more form i {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 23px;
  color: #696871;
}
header .container .header-container .more form .email {
  padding-top: 20px;
  padding-left: 8px;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.56px;
  color: #696871;
}
header .container .header-container .more form button {
  width: 170px;
  height: 53px;
  margin-top: 4px;
  margin-left: 20px;
  border: 1px solid #C31A12;
  border-radius: 5px;
  background: #F04037;
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
}
header .container .header-container .dumaloq {
  margin-top: -340px;
}
header .container .header-container .dumaloq2 {
  padding-top: 250px;
  padding-left: 200px;
}

main .section1 {
  background: #413E65;
  height: 800px;
  background-position: center;
}
main .section1 .container .section1-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 170px;
  margin-top: 152px;
}
main .section1 .container .section1-container .cards .card {
  width: 389px;
  height: 154px;
  background: white;
  border-radius: 10px;
  padding-top: 30px;
  display: flex;
  gap: 22px;
  margin-bottom: 25px;
}
main .section1 .container .section1-container .cards .card .yumaloqcha img {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  background: rgba(240, 64, 55, 0.0980392157);
  border-radius: 40%;
  margin-left: 20px;
}
main .section1 .container .section1-container .cards .card .multiple h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.75px;
  color: #19191B;
  margin-bottom: 13px;
}
main .section1 .container .section1-container .cards .card .multiple p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.5px;
  color: #696871;
  width: 240px;
}
main .section1 .container .section1-container .cards .card1 {
  width: 389px;
  height: 154px;
  background: white;
  border-radius: 10px;
  padding-top: 30px;
  display: flex;
  gap: 22px;
  margin-bottom: 25px;
}
main .section1 .container .section1-container .cards .card1 .yumaloqcha img {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  background: rgba(240, 64, 55, 0.0980392157);
  border-radius: 40%;
  margin-left: 20px;
}
main .section1 .container .section1-container .cards .card1 .multiple h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.75px;
  color: #19191B;
  margin-bottom: 13px;
}
main .section1 .container .section1-container .cards .card1 .multiple p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.5px;
  color: #696871;
  width: 240px;
}
main .section1 .container .section1-container .cards .card2 {
  width: 389px;
  height: 154px;
  background: white;
  border-radius: 10px;
  padding-top: 30px;
  display: flex;
  gap: 22px;
  margin-bottom: 25px;
}
main .section1 .container .section1-container .cards .card2 .yumaloqcha img {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  background: rgba(240, 64, 55, 0.0980392157);
  border-radius: 40%;
  margin-left: 20px;
}
main .section1 .container .section1-container .cards .card2 .multiple h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.75px;
  color: #19191B;
  margin-bottom: 13px;
}
main .section1 .container .section1-container .cards .card2 .multiple p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.5px;
  color: #696871;
  width: 240px;
}/*# sourceMappingURL=main.css.map */